/* ==== Google font ==== */

@font-face{
	font-family: 'JuliusSansOne-Regular';
	src:url(../fonts/JuliusSansOne-Regular.ttf)
	format("truetype"),
	url(../fonts/JuliusSansOne-Regular.otf)
	format("otf"),
	url(../fonts/JuliusSansOne-Regular.eot)
	format("eot"),
	url(../fonts/JuliusSansOne-Regular.svg)
	format("svg"),
	url(../fonts/JuliusSansOne-Regular.woff)
	format("woff");
}

@font-face{
	font-family: 'Savoye-LET';
	src: url(../fonts/Savoye-LET.ttf)
	format("truetype"),
	url(../fonts/Savoye-LET.ttc)
	format("ttc"),
	url(../fonts/Savoye-LET.otf)
	format("otf"),
	url(../fonts/Savoye-LET.eot)
	format("eot"),
	url(../fonts/Savoye-LET.svg)
	format("svg"),
	url(../fonts/Savoye-LET.woff)
	format("woff"),
	url(../fonts/Savoye-LET.woff2)
	format("woff2");

}

body {
    width: 100%;
    height: 100%;
    font-family: 'Savoye-LET',sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,'JuliusSansOne-Regular';
    font-weight: 700;
    letter-spacing: 1px;

}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

p.lead {
	font-weight: 600;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}

.light {
    font-weight: 400;
}

address {
	margin-left: 0;
	padding: 0;
}


/* misc */
hr {
  margin-top: 10px;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}

/* ===========================
--- General sections
============================ */



/* ===========================
--- Intro
============================ */

#home{
	position:relative;
	background-color: grey;
	width: 100%;
}

#background_image {
	position:relative;
	overflow:hidden;
	max-width: 100%;
	max-height: 750px;
}

#background_image img{
	position:;
	height: 100%;
	width: 100%;
	background-color: #000;
}

/* ------- Navigation ------------ */
#navigation {
	position:relative;
	text-align:center;
	z-index:9999;
	margin-top:;
	width:100%;
}

#menu{
	background-color: #EC7F9C;
}

#menu a{
	color:#fff;
}

.navbar-header{
	position:relative;
	width: 100%;
}

.navbar-header a{
	margin-left:-50%;
	position: absolute;
	text-align: left;
	margin-bottom: 0%;
	color:#fff;
}

#example-navbar-collapse{
	position:relative;
	background-color: #EC7F9C;
}

.navbar-toggle span{
	background-color:#EC7F9C;

}

.navbar-toggle .icon-bar {
	color:#fff;
	background-color:#fff;
}

#navigation li{
	margin-left: 20px;
	margin-right: 20px;
	font-weight: 700;
	font-size: 1.2em;
	font-family: 'JuliusSansOne-Regular';
	color:#fff;
}

#navigation li a:hover{
	background-color: white;
	color:#EC7F9C;
}

#menu li a:active{
	background-color: #EC7F9C;
}

#left a{
	background-color:#EC7F9C;
	color:#fff;
}

#left a:focus{
	color:#000;
}
/* ============================
--- Menu
============================= */


/* ===========================
--- About
============================ */
	
#story{
	position: relative;
	margin-top: 0%;
	margin-bottom: 0%;
	padding-top: 5%;
	background-color:;
	
}

.section-heading{
	margin-bottom: 20%;
}

.section-heading p{
	font-family: 'Savoye-LET';
	font-size: 26px;
	letter-spacing: 1.2px;
}

.row p{
	font-family: 'Savoye-LET';
	font-size: 24px;
	letter-spacing: 1.2px;
}

.section-heading h1{
	font-size: 48px;
}

.section-heading img{
	position:absolute;
	width: 70%;
	margin-left: -35%;
	margin-top: -5%;
	opacity:;
}

.video{
	position:relative;
	max-width: 1440px;
	max-height: 500px;
	background-color: green;
}

.video video{
	position:relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.block{
	position:absolute;
	margin-top: 702px;
	width: 100%;
	height: 500px;
	background-color: #000;
	opacity:0.4;
}

#when {
	position:relative;
	height: 100%;
	margin-top: 10%;
	padding-top: 10%;
	background-color:#fafafa;

}

#when h2{
	font-size: 48px;
}

.when-head{
	margin-left: -4%;
}

.pas p{
	margin-top: 10%;
}

#date_1{
	margin-top: -8%;
}

#date_1 img{
	opacity:0.5;
	width: 80%;
}

#date_1 p{
	font-size: 38px;
	color:pink;
}

#date_1 h1{
	font-size: 2em;
}

.col-md-4 {
	margin-top: 2.5%;
}

.test_1 {
	margin-top: -15%;
}

.feature-content img{
	position:absolute;
	width: 70%;
	margin-left: -35%;
	margin-top: -5%;
	opacity:0.5;
}


/* ===========================
--- Contact
============================ */

@media (max-width: 320px) {
	
#Location{
	margin-top: 10%;
	padding-left: 5%;
}
}

#Location{
	position:;
	width: 100%;
	padding-top: 10%;
	margin-top: 0%;
}

#Location h2{
	font-size: 48px;
	text-align: center;
}


#Navigate{
	max-width:100%; 
    max-height:100%;
}

#Navigate iframe{
    left:0;
    top:0;
    height:300px;
    width:100%;
    position:relative;
}

#get_nav{
	position:relative;
	width: 90px;
	height: 90px;
	background-color: #EC7F9C;
	margin-top: 3%;
	padding-top: ;
	color:#fff;
	border-radius: 70px;

}

.btn {
	width: 100%;
	padding-left: 0%;
	margin-bottom: 5%;
}

.btn a{
	font-family: 'Savoye-LET';
	font-size: 20px;
}

/* ===========================
--- Footer
============================ */

#footer{
	background-color: #EC7F9C;
	text-align: center;
	padding-top: 3px;
}
